<!doctype html>

<head>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/svgZoomPan.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/svg.js') }}"></script> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">      
</head>

<html>
    <!-- All the files that are required -->
    <div class="container">
        <form class="form-horizontal" role="form" action="{{ url_for('handle_data') }}" method="post" enctype="multipart/form-data">
            <h2>Generate SVG</h2>
            <!-- Main Form -->
            <div class="login-form-1">
                <br id="login-form" class="text-left">
                    <div class="main-login-form">
                        <div class="form-group mt-3">
                            <label class="mr-2">Upload the Def File:</label>
                            <input id= "def" type="file" name="defF" value=""/>
                        </div>
                        <br>
                        <div class="form-group mt-3">
                            <label class="mr-2">Upload the Lef File:</label>
                            <input id= "lef" type="file" name="lefF" value=""/>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary">Generate SVG</button>
                    </div>
                </form>
            </div>
        </form>
        <!-- end:Main Form -->
    </div>

</html>